<h3>User Card</h3>

<p>Name: @Name</p>

@code {
    [Parameter]
    public string? Name { get; set; }

    public UserCard()
    {
        Console.WriteLine("UserCard ctor");
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"Parameters: {Name}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"Render. First={firstRender}");
    }
}