@page "/"
@rendermode InteractiveServer

<h3>Tasks</h3>

<p>Total: @tasks.Count</p>

@foreach (var task in tasks) {
    <TaskItem Title="@task" OnDelete="() => RemoveTask(task)" />
}

@code {
    private List<string> tasks = new()
    {
        "Learn C#",
        "Learn Blazor",
        "Build Project"
    };

    private void RemoveTask(string task)
    {
        tasks.Remove(task);
        Console.WriteLine($"Removed: {task}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"HOME RENDER First={firstRender}");
    }
}