@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<UserCard Name="@userName" />

<button @onclick="ChangeName">
    Change Name
</button>

@code {

    private string userName = "Ivan";

    private void ChangeName()
    {
        userName = "Alex";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"HOME RENDER First={firstRender}");
    }

}