<h3>User Card</h3>

<p>Name: @Name</p>

@code {
    [Parameter]
    public string? Name { get; set; }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"Name = {Name}");
    }
}